# IDE specific
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
venv/
.venv/

### Project specific ###
*.env
settings_local.py

### OS specific ###
.DS_Store
